name: WPT Tests

on:
  #  push:
  workflow_dispatch:
    inputs:
      pattern:
        description: "File name pattern"
      chromium-build-id:
        description: "Chromium build id"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix: ${{ fromJSON(inputs.pattern && '{"stripe":[1,2,3,4,5]}' || '{"stripe":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]}') }}
    env:
      RECORD_REPLAY_CHROMIUM_DOWNLOAD_FILE: ${{ inputs.chromium-build-id && format('{0}.tar.xz', inputs.chromium-build-id) }}
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"

      - name: Install npm packages
        run: npm install

      - name: Install Replay Browsers
        run: npx @replayio/playwright install

      - name: Run tests
        timeout-minutes: 30
        run: node test.js ${{ inputs.pattern }}
        env:
          CI: true
          STRIPE: ${{ matrix.stripe }}/${{ inputs.pattern && 5 || 30 }}

      - name: Upload Replays
        uses: replayio/action-upload@v0.4.7
        with:
          api-key: rwk_itTwNSTgH7LCdRJBiL76KLkSHN7nh0Y5mHvZQfVYxkk
          public: true
